<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokernews Scraper</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--Scripts to bring in Jquery and bootstrap plus my external javascript sheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="../../public/app.js"></script>
</head>

<body>
    <header>
        <div class="jumbotron">
            <h1 class="display-4">Pokernews Scraper!</h1>
            <h3 class="lead">Scrape the pokernews website</h3>
            <hr class="my-3">

            <a href="/scrape" class="btn btn-primary btn-lg" id="scrapeButton" role="button">
                Scrape
            </a>
            
            <a href="/articles" class="btn btn-primary btn-lg" id="viewArticles" role="button">
                View all Articles
            </a>
            
            <button class="btn btn-primary btn-lg" id="clear" role="button">
                Clear Articles
            </button>

        </div>
    </header>
    {{{body}}}



</body>

</html>